// SPDX-License-Identifier: GPL-2.0+
/*
 * Samsung's S5PC110-based Goni board device tree source
 *
 * Copyright (c) 2014 Google, Inc
 */

/dts-v1/;

#include "skeleton.dtsi"
#include "s5pc110-pinctrl.dtsi"

/ {
	model = "Samsung s5pv210 based on S5PC110";
	compatible = "samsung,wdg", "samsung,s5pc110";

	aliases {
		console = "/serial@e2900000";
		pinctrl0 = &pinctrl0;
	};

	pinctrl0: pinctrl@e0200000 {
		compatible = "samsung,s5pc110-pinctrl";
		reg = <0xe0200000 0x1000>;
	};

	serial@e2900000 {
		compatible = "samsung,exynos4210-uart";
		reg = <0xe2900000 0x100>;
		id = <0>;
	};

	vddvario: regulator-vddvario {
		  compatible = "regulator-fixed";
		  regulator-name = "vddvario";
		  regulator-always-on;
	};

	vdd33a: regulator-vdd33a {
		compatible = "regulator-fixed";
		regulator-name = "vdd33a";
		regulator-always-on;
	};

	eth0@0xa8000000 {
		compatible = "smsc,lan9221","smsc,lan9115";
		reg = <0xa8000000 0xff>;
		phy-mode = "mii";
		bank-width = <2>;
		vddvario-supply = <&vddvario>;
		vdd33a-supply = <&vdd33a>;
		reg-io-width = <2>;
		mac-address = [00 00 de ad be ef];
	};

	sdhci0: sdhci@0xeb000000 {
		compatible = "samsung,exynos4412-sdhci";
		reg = <0xeb000000 0x1000>;
		periph_id = <75>;
		samsung,bus-width = <4>;
		max-frequency = <50000000>;
		cap-sd-highspeed;
		no-1-8-v;
	};
};
